*{
  image-rendering: pixelated;
  color: #212529;
}

body {
  margin:0px;
  font-family: 'Press Start 2P', sans-serif;
}
 img {
   outline: none;
   border: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
 }
::-webkit-scrollbar {
  width: 10px;
 margin: 10px;
}

::-webkit-scrollbar-track {
  background: none; 
  overflow: hidden;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;

}

img {
  outline: none;
  border: none;
}